body {
    background-image: url(../images/vader.jpg);
    font-family: 'Poller One', cursive;
}

.panel {
    font-weight: 700;
    background-color: black!important;
    color: yellow;
}

.panel-title {
    font-weight: 700;
    color:yellow;
    background-color: black;
}
.panel-footer{
    background-color: black;
    border-color: black;
}

.panel-default > .panel-heading {
    border-color: black;
    background: black;
  }

.panel-default{
    border-color:black!important;
}

.page-header{
    border-color: black;
}